<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Orders</title>
    <link rel="icon" href="../../assets/image/cpf-logo.png" />
    <link rel="stylesheet" type="text/css" href="../utils/globalStyle.css" />
    <link rel="stylesheet" type="text/css" href="../styles/orders.css" />
</head>
<body>
    <div class="outside-container">
        <!------------- menu side ---------------->
        <div class="menu-side">
            <div class="menu-list">
                <div class="menu-list-container">
                    <a class="menu-list-item active" href="#"></a>
                    <span class="menu-list-title">Orders</span>
                </div>
                <div class="menu-list-container">
                    <a class="menu-list-item" href="./tracking.html"></a>
                    <span class="menu-list-title">Tracking</span>
                </div>
                <div class="menu-list-container">
                    <a class="menu-list-item" href="./report.html"></a>
                    <span class="menu-list-title">Report</span>
                </div>
                <div class="menu-list-container">
                    <a class="menu-list-item" href="#"></a>
                    <span class="menu-list-title">none</span>
                </div>
            </div>
            <div class="profile">
                <img src="../../assets/image/profile.jpg" atr="profile" width="38px" height="38px" class="profile"/>
            </div>
        </div>
        <!------------- content side ---------------->
        <div class="container">

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../script/orders.js"></script>
</body>
</html>