/* 
    Usage: <i class="arrow right"></i>
    Note: 
    In arrow class you can call this class again at you main css and modify:
    - the size of arrow by changing padding: 7px;
    - the thick of arrow by changing border-width: 0 5px 5px 0;
    - color by changcing border-color: #008140;
*/
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0; 
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}