.row-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.driver-update-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
  padding: 1.5em 0;
}

.preparing-order-text{
  font-family: DB-Helvethaica-X-55-Regular; 
  font-size: 2em; 
  color: #D9D9D9;
}

.rectangele-btn{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.detail-faded-text{
  color: #828282; 
  font-size: 0.8em;
}

.button{
  font-size: 1.1em;
  margin: 15px 0;
}

.will-deliver,
.delivered-done{
  cursor: pointer;
}

.delivered-done{
  margin-left: 10px;
}

.right-block-left-box,
.right-block-right-box{
  background-color:white;
  border: 1px solid #D9D9D9;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.right-block-left-box{
  float: left;
}

.right-block-right-box{
  float: right;
}