.row-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.driver-update-container-order{
  background-color:white;
  border: 1px solid #D9D9D9;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

.preparing-order-text{
  font-family: DB-Helvethaica-X-55-Regular; 
  font-size: 2em; 
  color: #D9D9D9;
}

.rectangele-btn{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.detail-faded-text{
  color: #828282; 
  font-size: 0.8em;
}

.button{
  font-size: 1.1em;
  margin: 15px 0;
}

.will-deliver,
.delivered-done{
  cursor: pointer;
}

.delivered-done{
  margin-left: 10px;
}

.right-block-left-box,
.right-block-right-box{
  background-color:white;
  border: 1px solid #D9D9D9;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.right-block-left-box{
  float: left;
}

.right-block-right-box{
  float: right;
}

#edit-driver-page{
  border-radius: 0;
  max-width: 25%;
  padding: 0;
  z-index: 1000;
}

.modal-title{
  background-color: #008140;
  color: white;
  font-size: 1.3em;
  text-align: center;
  padding: 10px 0;
}

.modal-button-wrapper{
  font-size: 1.2em;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 5%;
}

.modal-button-wrapper a{
  text-decoration: none;
}

.modal-button-wrapper .rectangele-btn{
  margin: 0;
  padding: 0 15%;
  text-align: center;
}

.change-btn{
  border-radius: 8px;
  color: white;
  padding: 5px 20px;
  background-color: #D9D9D9;
  text-align: center;
}
.modal-image-driver{
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.modal-item-container{
  justify-content: space-between;
  margin: 10px 20px;
  font-family: DB-Helvethaica-X-55-Regular; 
}

.modal-name {
  font-size:1.4em;
  font-weight: bold;
}

.modal-detail{
  font-size: 0.9em;
}

.modal-item-container .rounded-btn{
  font-size: 1.3em;
}