.back-to-tracking{
    color: #008140;
    text-decoration: none;
    font-size: 1.5em;
    font-family: DB-Helvethaica-X-55-Regular;
}
.arrow{
    border-color: #008140;
    border-width: 0 1px 1px 0;
    margin-bottom: 1px;
}

.divide-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-block{
    width:40%;
    margin-top: 15px;
}
.right-block{
    width: 55%;
    margin-top: 15px;
}

.right-block-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-block-title-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
}

.divider{
    margin-top: 5px;
    border: 1px solid #D9D9D9;
    margin-bottom: 15px;
}

.breif-container{
    display: flex;
    flex-direction: row;
    font-size: 1.15em;
}
.breif-text{
    font-family: DB-Helvethaica-X-55-Regular;
    width: 27%;
    margin-right: 10px;
}

.driver{
    border-radius: 30px;
    width: 50px;
    height: 50px;
    vertical-align:center;
    border: 2px solid #008140;
}

.rate-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.driver-update-container{
    background-color:rgb(240,128,128, 0.3);
    border: 1px solid #D9D9D9;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
}

.driver-update-container .rounded-btn{
    border: 1px solid red;
}

.left-box{
    background-color:white;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 20px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.road{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.road-line{
    border-bottom: 1px solid #939393;
    width: 98%;
    opacity: 0.5;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.right-box{
    background-color:white;
    border: 1px solid #D9D9D9;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.view-all{
    width: 80%;
    text-align: center;
    margin-bottom: 5%;
    color: #008140;
    font-family: DB-Helvethaica-X-55-Regular;
    cursor: pointer;
}

.save{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-change{
    width: 20%;
    padding: 10px 0;
    border-radius: 15px;
    color: white;
    background-color: #D9D9D9;
    text-align: center;
    font-size: 1.5em;
}

#small-map {
    width: 100%;
    height: 400px;
    background-color: gray;
    border-radius: 15px;
  }
  
  .marker {
    background-image: url('../assets/icon/red-location.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .marker-cp {
    background-image: url('../assets/icon/shop.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .row-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.send-icon{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: -3px;
}

.row-layout1 .rectangele-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px 10px;
    text-decoration: none;
}

.row-layout1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 82%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.red-dot{
    width: 15px;
    height: 15px;
    margin-top: -10px;
    margin-left: 49px;
    position: absolute;
}

#message-modal{
    border-radius: 0;
    max-width: 300px;
    padding: 0;
    z-index: 1000;
}

.modal-title{
    background-color: #008140;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.dial{ 
    width: 30px;
    height: 30px;
}

.close-btn{
    font-family: DB-Helvethaica-X-55-Regular;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.message-modal{
    width:300px;
}

.detail-faded-text{
    color: #828282; 
    font-size: 0.8em;
}

.button{
    font-size: 1.1em;
    margin: 15px 0;
  }
  
  .will-deliver,
  .delivered-done{
    cursor: pointer;
  }
  
  .delivered-done{
    margin-left: 10px;
  }
  
  .right-block-left-box,
  .right-block-right-box{
    background-color:white;
    border: 1px solid #D9D9D9;
    width: 80%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .right-block-left-box{
    float: left;
  }
  
  .right-block-right-box{
    float: right;
  }

  .marker-error {
    background-image: url('../assets/icon/alert.png');
    background-size: cover;
    width: 5px;
    height: 25px;
    cursor: pointer;
}